<div ng-controller="PeopleCtrl as peopleList">
  <form name="addPersonForm" novalidate>
    <table class="table">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td><input type="text" placeholder="Enter First Name" ng-model="peopleList.newPerson.firstName" required/>
        </td>
        <td><input type="text" placeholder="Enter Last Name" ng-model="peopleList.newPerson.lastName" required/></td>
        <td>
          <input type="submit" class="btn" value="Add"
                 ng-click="addPersonForm.$valid && peopleList.addPerson(addPersonForm)"/>
        </td>
        <td></td>
      </tr>
      <tr ng-repeat="person in peopleList.people">
        <td>{{person.firstName}}</td>
        <td>{{person.lastName}}</td>
        <td>
          <button type="button" class="btn" ng-click="peopleList.editPerson(person)">Edit</button>
        </td>
        <td>
          <button type="button" class="btn" ng-click="peopleList.deletePerson(person)">Remove</button>
        </td>
      </tr>
    </table>
  </form>
  <div style="text-align: center">
    <pagination-control page="peopleList.page" current-page="peopleList.currentPage"
                            on-page-change="peopleList.pageChanged(pageNumber)"></pagination-control>
  </div>
</div>
