<div>
  <!-- Form Name -->
  <div class="modal-header">
    <legend style="margin-bottom:0; border-bottom: 0;">{{modalForm.title}}</legend>
  </div>

  <div class="modal-body">
    <form class="form-horizontal" role="form" name="personForm" ng-submit="personForm.$valid && modalForm.submit()"
          novalidate>
      <fieldset ng-disabled="modalForm.readOnly">
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-3 control-label" for="formFirstName">First Name</label>

          <div class="col-md-7">
            <input id="formFirstName" name="firstName" ng-model="modalForm.person.firstName" type="text"
                   placeholder="Enter First Name" class="form-control input-md" required>

          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-3 control-label" for="formLastName">Last Name</label>

          <div class="col-md-7">
            <input id="formLastName" name="lastName" ng-model="modalForm.person.lastName" type="text"
                   placeholder="Enter Last Name" class="form-control input-md" required>
            <span ng-show="modalForm.person.lastNameMsg" class="help-block">{{modalForm.person.lastNameMsg}}</span>
          </div>
        </div>

        <!-- Button (Double) -->
        <div ng-hide="modalForm.readOnly" class="form-group">
          <div class="col-md-offset-4 col-md-8">
            <button type="submit" class="btn btn-primary">Ok</button>
            <button type="button" ng-click="modalForm.reset()" class="btn btn-inverse">Reset</button>
          </div>
        </div>

      </fieldset>
    </form>

    <alert ng-repeat="alert in modalForm.alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</alert>

  </div>

  <div class="modal-footer">
    <button ng-show="modalForm.readOnly" class="btn btn-warning" ng-click="modalForm.edit()">Edit</button>
    <button class="btn btn-default" ng-click="modalForm.close()">Close</button>
  </div>
</div>
